.filterWrapper {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid brown;
  flex-wrap: wrap;
}
.filterWrapper label {
  padding: 0 1vw;
  font-size: calc(var(--index) * 0.8);
  color: brown;
  font-style: italic;
  font-weight: 600;
}
.filterWrapper input {
  vertical-align: middle;
}

label.genre {
  color: red;
}
label.year {
  color: rgb(247, 92, 3);
}
label.author {
  color: rgb(6, 245, 245);
}
select {
  cursor: pointer;
  color: rgb(107, 3, 107);
  font-weight: 700;
  width: calc(var(--index) * 9);
}
option {
  width: calc(var(--index) * 9);
  overflow: hidden;
}
.optionCheck {
  font-weight: 700;
  font-style: italic;
  color: rgb(255, 30, 0);
}
.formFilter {
  font-weight: 700;
  color: teal;
}

@media (max-width: 1040px) {
  .filterWrapper {
    flex-direction: column;
  }
}
