.BtnPaginationWrapper {
  width: 40%;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}
.visibility {
  display: none;
}
.btnPagination {
  border: none;
  background-color: rgb(88, 3, 88);
  color: whitesmoke;
  border-radius: 12px;
  font-size: calc(var(--index) * 0.8);
  font-style: italic;
  width: 8vw;
  height: 5vh;
  transition: 0.1s;
}
.btnLast {
  width: 12vw;
  height: 5vh;
}
.btnPagination:hover {
  transform: translateY(-3px);
  box-shadow: 3px 5px 5px rgb(46, 1, 46);
  filter: drop-shadow(3px 3px 10px rgb(184, 11, 184))
    drop-shadow(5px 5px 20px rgb(238, 4, 238));
}
.btnPagination:active {
  transform: translateY(-0.5px);
  box-shadow: 1px 1px 2px rgb(46, 1, 46);
  color: rgb(152, 252, 3);
  filter: drop-shadow(3px 3px 10px rgb(0, 253, 55))
    drop-shadow(5px 5px 20px rgb(0, 253, 55));
  background-color: rgb(69, 112, 4);
}
