.box {
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 13);
  background-image: url(../../Images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(3px 3px 3px whitesmoke)
    drop-shadow(7px 7px 9px rgb(235, 179, 179))
    drop-shadow(10px 10px 20px rgb(245, 112, 112));
}
.boxWrapper {
  width: 98vw;
  margin: 15vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible {
  display: none;
}
