body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 229, 222);
  background-image: url(../../Images/background.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
:root {
  --index: calc(1vw + 1vh);
}

.bookCardsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: calc(var(--index) * 2);
  margin: 3vh auto;
}
.cardWrapper {
  width: calc(var(--index) * 16);
  height: calc(var(--index) * 21);
  border: 1px solid #b15235;
  border-radius: 12px;
  background-color: #d4a89a;
  box-shadow: 3px 3px 7px #8d3920, 7px 7px 17px #832609;
}
.imgCardWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgCardWrapper img {
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 11);
  box-shadow: 5px 5px 7px brown;
  border-radius: 7px;
  margin-top: 1vh;
  cursor: pointer;
  transition: 1s;
}
.imgCardWrapper img:hover {
  transform: scale(1.12);
}
.notExist {
  display: none;
}
.aboutBook {
  font-weight: 800;
  color: rgb(100, 18, 18);
  text-align: center;
  margin: 1vh auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(var(--index) * 0.9);
  width: 90%;
}
.aboutAuthors {
  text-align: center;
  color: rgb(196, 1, 196);
  max-height: calc(var(--index) * 5);
  overflow: hidden;
}
.authors {
  font-weight: 700;
  color: rgb(136, 4, 136);
}
.deleteCard {
  text-align: right;
  padding: calc(var(--index) * 0.5);
  cursor: pointer;
}
.visibilFilter {
  display: none;
}

.btnFilterClearWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vh auto 0;
}

@media (max-width: 1400px) {
  :root {
    --index: calc(0.8vw + 0.8vh);
  }
  .imgCardWrapper img {
    margin-top: 0;
  }
}
