.navBarWrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(66, 1, 31);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 5px 5px 7px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.logoWrapper img {
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 5);
  position: relative;
  border-radius: 12px;
  filter: drop-shadow(3px 3px 5px rgb(170, 23, 23))
    drop-shadow(5px 5px 20px rgb(230, 6, 6));
}
.logoName {
  font-size: calc(var(--index) * 2);
  position: absolute;
  top: 0;
  color: whitesmoke;
  filter: drop-shadow(3px 3px 3px gray)
    drop-shadow(7px 7px 10px rgb(248, 243, 243));
  text-shadow: 3px 3px 5px gainsboro;
}

.btnNavbarWrapper {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}
.btnNavbar {
  width: calc(var(--index) * 9);
  height: calc(var(--index) * 3);
  border: none;
  border-radius: 12px;
  color: rgb(226, 7, 7);
  font-weight: 700;
  font-size: calc(var(--index) * 0.7);
  text-shadow: 3px 3px 7px brown;
}
.btnNavbar:hover {
  filter: drop-shadow(3px 3px 3px pink)
    drop-shadow(7px 7px 30px rgb(250, 229, 232));
  transform: scale(1.01);
}
#searchNavbar {
  width: 15vw;
  border-radius: 12px;
  text-align: center;
  font-size: calc(var(--index) * 0.7);
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
#searchNavbar::placeholder {
  color: rgb(235, 42, 42);
  text-shadow: 3px 3px 7px brown;
}
#searchNavbar:hover {
  filter: drop-shadow(3px 3px 3px pink)
    drop-shadow(7px 7px 30px rgb(250, 229, 232));
  transform: scale(1.01);
}

@media (max-width: 1000px) {
  .navBarWrapper {
    flex-direction: column;
    gap: 1vw;
  }
}
