.bookModalWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.imgModalWrapper {
  width: 26vw;
  height: 100%;
}
.imgModalWrapper img {
  width: 24vw;
  max-height: 90%;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px teal) drop-shadow(7px 7px 30px rgb(0, 54, 54));
}

.aboutModalCardWrapper {
  width: 65vw;
}
.aboutModalBook {
  font-weight: 700;
  font-size: calc(var(--index) * 0.7);
}
.cardModalDescript {
  font-weight: 400;
  font-size: calc(var(--index) * 0.7);
  font-style: italic;
}
.modal-header {
  background: teal;
  color: whitesmoke;
  filter: drop-shadow(3px 3px 3px teal) drop-shadow(7px 7px 30px rgb(0, 54, 54));
  border: none;
}
.btnFavorites {
  margin: 5vh auto;
}
